h1 {
    height: 300px;
    color: yellow;
    text-shadow: rgb(9, 76, 131) 4px 2px,rgb(9, 76, 131) 4px 2px, rgb(9, 76, 131) 4px 2px, rgb(9, 76, 131) 4px 2px;
    background-image: url('./pokeball.png');
    text-align: center;
    font-size: 150px;
    font-weight: 900;
    font-family: fantasy cursive;
    font-style: normal;
    border-radius: 50%;
    padding-top: 50px;
    margin-top: 5px;

}

#list {

    border: 2px solid black;
    margin: 20px;
    margin-right: 50% ;
    background-color: white;
    background:red;
    width : 100%;
    padding-left: 50%;


}
#list li {
    cursor: pointer;
    border-radius: 20% 2px black;
    grid-template-columns : 200%;
    grid-template-rows: max-content;
    grid-gap: 1fr 1fr;
    transition-property: all;
    transition: 2s;
}
#list li :hover {
        background-image: url(./2gfwG.png);
      }
}

#description {
    background-color: red;

}

.container {
   display: inline-block;

}
.body {
    background: rgb(9, 76, 131)
}

