body {
    background: rgb(9, 76, 131)
}

h1 {
    height: 200px;
    color: yellow;
    text-shadow: rgb(9, 76, 131) 4px 2px,rgb(9, 76, 131) 4px 2px, rgb(9, 76, 131) 4px 2px, rgb(9, 76, 131) 4px 2px;
    background-color: red;
    text-align: center;
    font-size: 150px;
    font-weight: 900;
    font-family: fantasy cursive;
    font-style: normal;
    
}

div {
    margin: auto;
}
#list {
    display: grid;
    border: 10px;
    margin: 20px solid;
    padding: 10px;
    background-color: white;
    background:red;
    display: grid;
    width : 100%;
    grid-gap: 1fr 1fr;
    text-align : left;
    gap: 2px;
    
    
     
    
}
#list li {
    cursor: pointer;
    grid-template-columns : 200%;
    grid-template-rows: max-content;
}
#list li :hover {
        display: block;
      }
}

#description {
    background-color: red;

}

.container {
   display: inline-block;

}



#button {
    display: none
}