

#list {
    background: red;
    display: grid;
    width : 500px;
    grid-template-columns : 1fr 1fr 1fr;
    grid-gap: 1fr 1fr;
    
    
}
#list li {
    cursor: pointer;
}
#list li :hover {
}

#description {
    background-color: red;

}


