h1 {
    color: yellow;
    text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
    background-color: red;


}

#list {
    background: red;
    display: grid;
    width : 500px;
    grid-template-columns : 33% 33% 34%;
    grid-gap: 1fr 1fr;
    
    
}
#list li {
    cursor: pointer;
}
#list li :hover {
}

#description {
    background-color: red;

}


